#exitMessage {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}

#endButton {
    margin: 10px;
}

#end {
    margin: 15% auto;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
}