#profile-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    margin: 10% auto;
    /* border: 2px solid red; */
    max-width: fit-content;
    color: rgb(0,0,0);
}
a{
    text-decoration: none !important;
}
.image{
    width: 150px;
    height: 150px;
    padding: 5px;
}

.profile{
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.714);
    text-align: center;
    margin: 20px 5px;
    padding: 10px;
    border-radius: 5px;
}

.card-text{
    padding: 10px 0px;
    color: rgb(0,0,0);
}