#qno {
  display: inline;
}

#timer {
  border: 2px solid black;
  border-radius: 4px;
  font-family: sans-serif;
  display: flex;
  padding: 10px;
  width: 35%;
  border-radius: 30px;
  background: white;
  font-size: 36px;
  font-weight: bold;
  margin-left: 2%;
  justify-content: center;
}

.answer {
  margin: 2px 0px;
  background-color: white;
}

.answertext {
  margin: 2px 0px;
  width: 100%;
}


#question {
  display: inline;
  margin: 10px;
  border-radius: 4px;
}

#buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0px;
}

.button {
  width: 100%;
  background-color: black;
  border: 2px solid rgb(255, 255, 255);
  font-family: 'Rajdhani', sans-serif;
}

.button:hover,
.button:disabled {
  background-color: white !important;
  color: black !important;
  border: 2px solid black !important;
}


#exitMessage {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  /*margin: 10px;*/
}

#quiz {
  height: 100%;
  margin: 10% auto;

}

#qelements {
  margin: 10px;
}

#endButton {
  margin: 10px;
}

#hideme {
  display: none;
}

#end {
  padding: 10px;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  /* If you want a transition effect */
  padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.quiz-header {
  margin-top: 10px;
}

#heading {
  display: flex;
  color: white;
  width: 60%;
  /* border: 2px solid green; */
  margin-right: 2%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}