#Rules {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    border: 5px white;
    border-style: solid;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    display: flex;
    background-color: rgba(235, 224, 224, 0.64);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 6.5% auto;
}

.header {
    display: flex;
    color: black;
}

#Rule-agree {
    margin-top: 20px;
    /* margin-right: 15px; */
    display: inline-flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 100%;

}

#line {
    justify-content: center;
    display: contents;
}

#accept {
    border-radius: 2px;
    /* background-color: black !important; */
}

#submit-button {
    margin: 10px;
    display: none;
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
    font-family: 'Rajdhani', sans-serif;
}

.btn btn-success:hover {
    background-color: white;
    border: 2px solid black;
    transition: 0.7s
}

#rule-list {
    background-color: rgb(235 224 224 / 68%);
}